---
import Card from "@components/base/Card.astro";
const { name, specialty, imageSrc, rating = "N/A", search } = Astro.props;
---

<div x-show=`activeCategory === 'all' || activeCategory === '${search}'`>
  <Card class="'p-4'">
    <div class="relative w-full h-56 rounded-lg bg-muted-200 dark:bg-muted-800">
      <img
        class="w-full h-full object-cover"
        src={imageSrc}
        alt={`Photo of Dr. ${name}`}
      />
    </div>
    <div class="font-sans mt-3">
      <h4 class="font-semibold text-muted-800 dark:text-muted-100">
        {name}
      </h4>
      <p class="text-sm text-muted-400">{specialty}</p>
    </div>
    <div class="mt-2">
      <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
        intellegunt quid.
      </p>
    </div>
    <div class="flex items-center justify-between font-sans mt-3">
      <div class="flex items-center gap-2">
        <button
          tooltip="Book appointment"
          class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
        >
          <iconify-icon class="iconify w-4 h-4" icon="ph:calendar-check-duotone"
          ></iconify-icon>
        </button>
        <button
          tooltip="Send message"
          class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
        >
          <iconify-icon class="iconify w-4 h-4" icon="ph:chat-circle-duotone"
          ></iconify-icon>
        </button>
        <button
          tooltip="View profile"
          class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
        >
          <iconify-icon class="iconify w-4 h-4" icon="ph:user-duotone"
          ></iconify-icon>
        </button>
      </div>
      <div class="flex items-center justify-end gap-2">
        <iconify-icon class="iconify w-4 h-4 text-yellow-400" icon="uiw:star-on"
        ></iconify-icon>
        <span class="font-semibold text-xs text-muted-500 dark:text-muted-400">
          {rating}
        </span>
      </div>
    </div>
  </Card>
</div>
